less1
[{"id":"c8f996a0.6af7e8","type":"inject","z":"bf11c6e3.2e10a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":229,"y":294,"wires":[["d2470ea0.6fc39"]]},{"id":"d2470ea0.6fc39","type":"http request","z":"bf11c6e3.2e10a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5","tls":"","proxy":"","authType":"","x":572,"y":214,"wires":[["49970488.1887ec"]]},{"id":"100f416b.0d361f","type":"debug","z":"bf11c6e3.2e10a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":200,"wires":[]},{"id":"49970488.1887ec","type":"function","z":"bf11c6e3.2e10a8","name":"","func":"\nvar x = msg.payload[0];\n\n//msg.payload = x;\nmsg.date = Date.now();\nmsg.date2 = new Date(msg.date);\nvar hours =   \"0\"+msg.date2.getHours();\nvar minutes = \"0\" + msg.date2.getMinutes();\nvar seconds = \"0\" + msg.date2.getSeconds();\nvar year = msg.date2.getFullYear();\nvar date = '0'+msg.date2.getDate();\nvar month = '0'+(msg.date2.getMonth()+1);\n\nmsg.dateHw1 = year+'-'+month.substr(-2)+'-'+date.substr(-2)+' '+hours.substr(-2)+':'+minutes.substr(-2)+':'+seconds.substr(-2);\nmsg.hw1 = \"покупка - \"+msg.payload[0].buy+'; продажа - '+msg.payload[0].sale;\n\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":303,"wires":[["100f416b.0d361f"]]}]
